@import url('https://fonts.googleapis.com/css?family=Rubik:700&display=swap');
body{
    background-image: url(./img/background.jpg);
    font-family: "Rubik, sans-serif";
}
.content {
    font-family: "Rubik", sans-serif;
    text-align: center;
    margin-top: 10%;
    
  }

.title{
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 56px;
    
}

.fact{
    text-align: center;
    font-family: "Rubik", sans-serif;
    color: #fff;
    font-size: 36px;
    background-color: rgba(29,29,29,0.2);
}

button {
    font-family: "Rubik", sans-serif;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #ed309e;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
    top: 50%;
    }
button:hover {
    background: #434343;
    letter-spacing: 1px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(29,29,29,0.8);
    }
    
    li {
    float:left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    }
    
    li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
    }
    
    /* Change the link color to #111 (black) on hover */
    li a:hover {
    background-color: rgba(237,48,158,1);
    }

    table {
        text-align: center;
        color: #fff;
        font-family: 'Rubik', sans-serif;
        border: 1px solid #fff;
        width: 50%;
        border-collapse: collapse;
        padding: 100px;
        margin-right: auto;
        margin-left: auto;
        /*background-color: #1d1d1d;*/
        background-color: rgba(29,29,29,0.8);
        
        
      }
      th {
        background-color:  rgba(237,48,158,0.85);
      }
      
      th, td{
          border-bottom: 1px solid #fff;
          border-left: 1px solid #fff;
      }
      
      tr:hover {background-color: #ed309e;}
